<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="paxBase"
                      transaction-type="RESOURCE_LOCAL">
        <class>local.paxbase.entity.coredata.StandardClientEntity</class>
        <class>local.paxbase.entity.OffshoreUser</class>
        <class>local.paxbase.entity.coredata.AppUser</class>
        <class>local.paxbase.entity.coredata.Company</class>
        <class>local.paxbase.entity.Transfer</class>
        <class>local.paxbase.entity.CrewChange</class>
        <class>local.paxbase.entity.coredata.Site</class>
        <class>local.paxbase.entity.Waypoint</class>
        <class>local.paxbase.entity.coredata.CraftType</class>
        <class>local.paxbase.entity.coredata.Payload</class>
        <class>local.paxbase.entity.DutyPeriod</class>
        <class>local.paxbase.entity.coredata.ModeOfTransfer</class>
        <class>local.paxbase.entity.coredata.SiteType</class>
        <class>local.paxbase.entity.Campaign</class>
        <class>local.paxbase.entity.Period</class>
        <class>local.paxbase.entity.UserPreference</class>
        <class>local.paxbase.entity.coredata.PeriodType</class>
        <class>local.paxbase.entity.coredata.FunctionCategory</class>
        <class>local.paxbase.entity.ContractorDutyPeriod</class>
    </persistence-unit>
</persistence>
