cbTimeline {
    width: 50px;
    height: 200px;
    overflow-y: scroll;
    overflow-x:hidden;
}
ul#dutyItems li {
    display:inline;
    width: 150px;
}

    li.templateItem {
      list-style: none;
      width: 150px;
      color: #1A1A1A;
      background-color: #D5DDF6;
      border: 1px solid #97B0F8;
      border-radius: 2px;
      margin-bottom: 5px;
      padding: 5px 12px;
    }
    li.templateItem.before {
      content: "≣ ";
      font-family: Arial, sans-serif;
      display: inline-block;
      font-size: inherit;
      cursor: move;
    }